.top {
    &__container {
        max-width: 1700px;
        margin: 0 auto;
        padding: 120px 0 130px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top center;
        text-align: center;
    }

    &__title {
        @extend %roboto-400;
        font-size: 48px;
        color: $title;
        text-align: center;
        margin-bottom: 20px;
        text-transform: uppercase;
    }

}